@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Fira+Code:wght@400;500;600;700&display=swap");

@theme {
  /* Colors */
  --color-base: #f4f4f4;
  --color-primary: #0a0909;
  --color-secondary: #1e49c8;
  --color-dark: #080808;
  --color-light: #fff;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
  --color-text-muted: #878787;
  --color-inputBackground: #ffffff;
  --color-inputBorder: #d1d5db;
  --color-inputError: #ef4444;
  --color-card: #f2f2f2;

  /* Font sizes */
  --text-x-small: 11px;
  --text-small: 14px;
  --text-medium: 20px;
  --text-small-medium: 17px;
  --text-x-medium: 25px;
  --text-xx-medium: 30px;
  --text-large: 45px;
  --text-x-large: 75px;
  --text-xx-large: 95px;

  /* Fonts */
  --font-open-sans: "Open Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* p {
  color: #fb7610;
  color: #0a0909;
} */

.logo {
  @apply text-small text-primary flex-1 font-inter;
}

.sidebar-icon{
  @apply text-primary rounded p-2 flex items-center justify-center cursor-pointer
}

.home-page {
  @apply bg-base w-full h-full;
}

.info-text{
  @apply text-dark text-small font-inter
}

.sidebar{
  @apply h-full p-3 py-4 flex flex-col bg-white text-white border-r border-r-[#17161628] transition duration-300 ease-in-out
}

.action-btn{
  @apply p-2 px-3 text-x-small text-white flex items-center justify-center gap-2 bg-primary rounded-full font-inter cursor-pointer hover:bg-dark/80
}

.heading{
  @apply text-small-medium font-inter font-semibold text-dark
}

/* FONTS */
.open-sans-font-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.open-sans-font-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-font-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Loader */
.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  /* border-bottom-color: var(--color-primary); */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section {
  @apply px-3;
}

/* .header {
}

.bottom-nav {
}

.not-found-modal {
} */

.icon {
  @apply cursor-pointer size-4;
}
.link {
  @apply text-dark underline cursor-pointer;
}
/* Components */
.login-label {
  @apply text-small py-2 px-0.5 text-dark;
}

.input-box {
  @apply w-full h-10 text-dark text-small outline-0 p-2 rounded-full border border-dark;
}

.empty-info{
  @apply text-gray-500 font-sans text-small
}

/* Spinner */
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: '#33c';
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

