@import "tailwindcss";

@theme {
  /* Colors */
  --color-base: #f1f1f1;
  --color-primary: #265bfb;
  --color-secondary: #1e49c8;
  --color-dark: #080808;
  --color-light: #fff;
  --color-text-muted: #878787;

  /* Font sizes */
  --text-x-small: 11px;
  --text-small: 14px;
  --text-medium: 20px;
  --text-x-medium: 25px;
  --text-large: 45px;
  --text-x-large: 75px;
  --text-xx-large: 95px;
}

/* p{
    color: #878787;
} */

/* FONTS */
.open-sans-font-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.open-sans-font-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-font-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* MAIN */
/* body {
  @apply bg-base;
} */

.section {
  @apply px-3;
}

.logo {
  @apply text-2xl text-light;
}
.header {
}

.sidebar {
}

.bottom-nav {
}

.not-found-modal {
}

.icon {
  @apply cursor-pointer;
}
.link {
  @apply text-primary underline cursor-pointer;
}
/* Components */
.login-label {
  @apply text-small py-2;
}
